/*> armory */

/* CHARACTER ARMORY*/


table.charactersheet {
	margin-left: auto;
	margin-right: auto;
}
/*
table.charactersheet td {
	margin: none;
	padding: none;
	width: 44px;
	height: 44px;
}*/

table.charactersheet td a.item {
	display: block;
	width: 44px;
	height: 44px;
	margin: none;
	background: url('/tools/temp.jpg') no-repeat 4px 4px;
	background-position: 4px 4px;
}


table.charactersheet td a.item div {
	width: 44px;
	height: 14px;
	margin: 0px;
	text-align: right;
	background: url('/tools/icon_border_medium.png') no-repeat top left;
	color: #ffffff;
	padding-top: 30px;
	
}

table.charactersheet td a.item-small {
	display: block;
	width: 22px;
	height: 22px;
	margin: none;
	background: url('/tools/temp.jpg') no-repeat 4px 4px;
	background-position: 2px 2px;
}

table.charactersheet td a.item-small div {
	width: 22px;
	height: 22px;
	margin: 0px;
	text-align: right;
	color: #ffffff;
}

table.charactersheet td div.a:hover {
	background: url('/tools/icon_hilite_medium.png') no-repeat top left;
	background-position: -38 0;
}

div.charstats {
	vertical-align: top;
}

table.charactersheet #tabs {
	width: 250px;
}

#charsheet #character {
}

/* armory <*/
.armory-searchform.main-page {
	margin-top: 100px;
	margin-bottom: 100px;
}

.armory-searchform .level {
	width: 16px;
}

.armory-searchform input.button2 {
	float: left;
	margin: 5px;
}

#charactersheet table {
	font-size: 10px;
}

div.leftitems {
	width: 44px;
}

#content .content {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
	color: #f0f0f0;
}

.leftitems, .rightitems, .weapons ul li {
	float: left;
}

.weapons {
	width: 132px;
	margin-left: auto;
	margin-right: auto;
}

.togglemodel {
	margin-top: 30px;
	float: left;
}

.items ul {
	list-style: none;
}

.items li {
	width: 44px;
	height: 44px;
}

.mailitems li {
	float: left;
}

.items li a.item {
	display: block;
	width: 44px;
	height: 44px;
	margin: none;
	background: url('/tools/temp.jpg') no-repeat 4px 4px;
	background-position: 4px 4px;
}

.items li a.item div {
	width: 44px;
	height: 14px;
	margin: 0px;
	text-align: right;
	background: url('/tools/icon_border_medium.png') no-repeat top left;
	color: #ffffff;
	padding-top: 30px;
	
}

#profiler-model {
	float: left;
	height:345px;
	width:275px;
	margin-top: 3px;
}

#charactersheet .nameplate {
	font-size: 14px;
	margin-bottom: 1em;
	padding: 5px;
	text-shadow: 2px 2px 2px #000000;
	min-height: 54px;
}

#charactersheet .nameplate select {
	display: none;
}

#charactersheet .nameplate span.name {
	font-weight: normal;
	font-size: 18px;
	margin-left: 1em;
	text-shadow: 3px 3px 3px #000000;
	cursor: pointer;
}

#charactersheet .nameplate span.talents {
	float: right;
	font-size: 12px;
	padding-top: 2px;
}

#charactersheet .nameplate span.talents a {
	color: inherit !important;
	font-weight: normal;
}

#charactersheet .nameplate span.grey {
	color: #666666;
}

#charactersheet .nameplate span.achis {
	margin-top: 30px;
}

#charactersheet .nameplate a {
	font-weight: bold;
}

#charactersheet .nameplate hr {
	border-top-color: #1c1c1c;
}

#charactersheet #character-model {
	width: 363px;
	padding: 2px;
	float: left;
}

#charactersheet #character-info {
	margin-left: 10px;
	width: 622px;
	float: left;
	position: relative;
	overflow: visible;
}

#charactersheet #character-info #banned {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 1000;
}

#charactersheet #character-info #tabs {
	margin: 0px;
	width: 100%;
	overflow: visible;
}

#charactersheet #general fieldset {
	width: 180px;
	height: 100px;
	margin-right: 8px;
	margin-top: 12px;
	padding: 5px;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#charactersheet #pvp fieldset {
	padding: 5px;
	line-height: 16px;
	border: 1px solid #000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#charactersheet fieldset legend {
	padding: 0px 5px 0px 5px;
	color: #666666;
	font-size: 1em;
}

#charactersheet #general fieldset div {
	width: 100%;
	line-height: 14px;
	font-size: 10px;
	position: relative;
	height: 14px;
}

#charactersheet #general fieldset div span {
	width: 90px;
	display: block;
	float: left;
	color: #aaaaaa;
}

#charactersheet #general fieldset div .tooltip {
	display: none;
	position: absolute;
	bottom: 100%;
	left: 100%;
	background-color: #292929;
	border: 1px solid #000000;
	padding: 3px 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	white-space: normal;
	z-index: 1000;
	box-shadow: 0px 0px 10px #000;
	height: auto;
}

#charactersheet #general fieldset.tooltipleft div .tooltip {
	left: auto;
	right: 100%;
}

#charactersheet #general fieldset div .tooltip span {
	font-size: 11px;
	white-space: nowrap;
}

#charactersheet #general fieldset div:hover {
	background-color: #1c1c1c;
}

#charactersheet #general fieldset div:hover .tooltip {
	display: block;
}

#charactersheet #savedin td {
	position: relative;
}

#charactersheet #savedin td div.tooltip {
	width: 150px;
	display: none;
	position: absolute;
	background-color: #292929;
	border: 1px solid #000000;
	padding: 3px 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	white-space: normal;
	text-align: left;
	margin-top: 5px;
}

#charactersheet #savedin td:hover .tooltip {
	display: block;
	z-index: 1000 !important;
}


#charactersheet fieldset table {
	width: 100%;
}

#charactersheet fieldset td {
	width: 50%;
	line-height: 12px;
}

.powerbar {width: 100%; *width: 95%; height: 20px; border: 1px solid #1ee11e; text-align: center; position: relative}
.powerbar div {width: 100%; height: 100%; background-color: #1ee11e; }
.powerbar span { position: absolute; top:5px; width: 100%; text-align: center; left: 0px; font-weight: bold; text-shadow: 1px 1px 2px #000;}

.arenateam {
	margin-top: 10px;
	margin-bottom: 10px;
}

.arenateam a {
	background: none !important;
	padding: 0px !important;
}


#charactersheet .faction,
#charactersheet .skill {
	display: block;
	width: 100%;
	height: 16px;
	margin-top: 1px;
	margin-bottom: 1px;
}

#charactersheet div.skill {
	padding-left: 5px;
}

#charactersheet .faction:hover,
#charactersheet .skill:hover {
	background-color: #1c1c1c;
}

#charactersheet .faction a,
#charactersheet #gm a {
	background: none;
}

#charactersheet #attuned td a {
	background: none;
	color: inherit;
}

#charactersheet .standing {
	width: 200px;
	border: 1px solid #000000;
	float: right;
	font-size: 9px;
	color: #ffffff;
	text-align: center;
	height: 14px;
	position: relative;
	margin-right: 100px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#charactersheet #achievements .standing {
	width: 190px;
	margin: 4px;
	float: left;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#charactersheet #achievements .all {
	width: 590px;
}

#charactersheet .standing .bar {
	display: block;
	height: 100%;
	background-color: #0e329d;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#charactersheet #achievements .standing .bar {
	background-color: #008800;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#charactersheet .standing span {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0px;
	left: 0px;
}


#charactersheet .faction .Exalted { background-color: #0aa087; }
#charactersheet .faction .Revered { background-color: #30a601; }
#charactersheet .faction .Honored { background-color: #74a001; }
#charactersheet .faction .Friendly { background-color: #a4a201; }
#charactersheet .faction .Neutral { background-color: #d2b130; }
#charactersheet .faction .Unfriendly { background-color: #d59b31; }
#charactersheet .faction .Hostile { background-color: #c9662b; }
#charactersheet .faction .Hated { background-color: #b82e21; }

#charactersheet .faction .Exaltedb { border-color: #0aa087; }
#charactersheet .faction .Reveredb { border-color: #30a601; }
#charactersheet .faction .Honoredb { border-color: #74a001; }
#charactersheet .faction .Friendlyb { border-color: #a4a201; }
#charactersheet .faction .Neutralb { border-color: #d2b130; }
#charactersheet .faction .Unfriendlyb { border-color: #d59b31; }
#charactersheet .faction .Hostileb { border-color: #c9662b; }
#charactersheet .faction .Hatedb { border-color: #b82e21; }

#achievements a {
	background: none;
	display: block;
	width: 98%;
	padding-top: 5px;
	margin: 1px 4px 1px 4px;
}

#achievements a span {
	float: right;
	background: none;
	border-left: 1px solid #000000;
	margin-bottom: 5px;
	height: 14px;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

#charactersheet #achievements .total {
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#charactersheet table th {
	padding: 3px;
}

#charactersheet table td {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

#general table td {
	padding: 0px;
	text-align: left;
}

#savedin table tr:hover,
#attuned table tr:hover {
	background-color: #1c1c1c;
}

#savedin table td.name,
#attuned table td.name {
	text-align: left;
	font-weight: bold;
}

#savedin table td.namelist {
	text-align: left;
	white-space: normal
}

.obsolete {
	color: #666666;
}

#attuned .yes {
	background-color: #1b381b;
}

#attuned .no {
	background-color: #381b1b;
}

.online {
	color: #00ff00;
}

.offline {
	color: #ff0000;
}

div.arenapoints {
	width: 100%;
	text-align: center;
	margin: 15px 0px 5px 0px;
}

#charactersheet a.item-small { 
	display: block;
	height: 22px;
	background: url("http://gamingconsortium.org/tools/temp.jpg") no-repeat center 2px scroll;
	padding: 0px;
	margin: 0px 2px 0px 0px;
	text-align: center;
	color: inherit;
}

#charactersheet a.item-small div { 
	width: 22px;
	height: 22px;
	margin: 0px;
	text-align: right;
	color: #ffffff;
}


.geninfo {
	float: left;
	margin-right: 10px;
}

.clear {
	clear: both;
}
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.char_warning {
	color: #ff0000;
	padding: 1em;
	border: 1px solid #ff0000;
	text-align: center;
}


/*> pvp */

center table.lined td {
	text-align: center;
}

#body_main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	line-height: 120%;
	text-align: center;
	font-size: 11px;
}

#body_main h1 {
	margin-right: 0px;
	margin-bottom: 1em;
}

/* pvp <*/

/*> Inventory */

#Inv .items ul {
	list-style: none;
	width: 176px;
	display: block;
	float: left;
	margin: 10px;
}

#Inv .items li {
	width: 44px;
	height: 44px;
	float: left;
	display: block;
}

#Inv .items ul.bag0 {
	width: 308px;
}

#Inv .items ul li a.item div {
	text-shadow: -1px -1px 2px #000000;
}

/* Inventory <*/
