/* General Markup Styles
---------------------------------------- */

* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	/* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
	height: 101%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Arial, sans-serif;
	color: #828282;
	background: url('{T_THEME_PATH}/images/background.png') 50% 0px no-repeat #000000;
	/*font-size: 62.5%;			 This sets the default font size to be equivalent to 10px */
	font-size: 10px;
	margin: 0;
	/*background-attachment:fixed;*/
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffcc00;
	margin: 3px 0 10px 0;
	font-size: 2em;
}

h2 {
	/* Forum header titles */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffcc00;
	font-size: 17px;
	margin: 5px 0 8px 0;
}

h2.solo {
	margin-bottom: 1em;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.7em;
	color: #00ccff;
	margin-top: 20px;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	/* Also see tweaks.css */
	border: 0 none #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top: 1px dashed #CCCCCC;
	margin: 10px 0;
}

hr.divider {
	display: none;
}

p.right {
	text-align: right;
}

.tac {
	text-align: center;
}

/* Main blocks
---------------------------------------- */
#wrap {
	margin: 0 auto;
	width: 1024px;
}

#simple-wrap {
	padding: 6px 10px;
}

#page-body {
	clear: both;
	background-color: rgba(0,0,0,0.5);
}

#page-body.nobg {
	background: none;
}

#page-footer {
	margin:30px 0 10px 0!important;
	background-color: transparent;
	clear: both;
}

#page-footer h3 {
	margin-top: 20px;
}

#logo {
	float: left;
	width: auto;
	padding: 10px 13px 0 10px;
}

a#logo:hover {
	text-decoration: none;
}

/* Search box
--------------------------------------------- */
#search-box {
	color: #FFFFFF;
	position: relative;
	margin-top: 30px;
	margin-right: 5px;
	display: block;
	float: right;
	text-align: right;
	white-space: nowrap; /* For Opera */
}

#search-box #keywords {
	width: 95px;
	background-color: #FFF;
}

#search-box input {
	border: 1px solid #b0b0b0;
}

/* .button1 style defined later, just a few tweaks for the search button version */
#search-box input.button1 {
	padding: 1px 5px;
}

#search-box li {
	text-align: right;
	margin-top: 4px;
}

#search-box img {
	vertical-align: middle;
	margin-right: 3px;
}

/* Site description and logo */
#site-description {
	float: left;
	width: 70%;
}

#site-description h1 {
	margin-right: 0;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */

.forabg {
	margin-bottom: 4px;
	padding: 0px;
	clear: both;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	border: 1px solid #003f4e;
}

.forabg .inner {
	background-color: rgba(0,0,0,0.6);
	padding: 5px;
}

.forumbg {
	margin-bottom: 4px;
	padding: 0px;
	clear: both;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	border: 1px solid #003f4e;
}

.forumbg .inner {
	background-color: rgba(0,0,0,0.6);
	padding: 0px;
}

.panel {
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	border:1px solid #003F4E!important;
	box-shadow: none!important;
	margin-bottom:-1px;
	padding: 0px;
	color: #ffffff;

}

.panel .inner {
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.6);
}

.post {
	padding: 0;
	margin-bottom: -1px;
	background: url('{T_THEME_PATH}/images/post-bg.png') 0px 0px repeat-x #090a0a;
	color: #ffffff;
	border: 1px solid #003f4e;
	position: relative;
	min-height: 250px;
	padding-bottom: 10px;
}

.post:target .content {
	color: #ffffff;
}

.post:target h3 a {
	color: #ffffff;
}

/*.bg1	{ background-color: rgba(255,255,255,0); }
.bg2	{ background-color: rgba(255,255,255,0); }
.bg3	{ background-color: rgba(255,255,255,0); }*/

.rowbg {
	margin: 5px 5px 2px 5px;
}

.ucprowbg {
	background-color: #e2e2e2;
}

.fieldsbg {
	/*border: 1px #DBDEE2 solid;*/
	background-color: #eaeaea;
}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

span.corners-top span {
	background-image: none;
	background-position: 100% 0;
}

span.corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}

span.corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}

.headbg span.corners-bottom {
	margin-bottom: -1px;
}

.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom {
	margin: 0 -10px;
}

.rules span.corners-top {
	margin: 0 -10px 5px -10px;
}

.rules span.corners-bottom {
	margin: 5px -10px 0 -10px;
}

/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
}

ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
	font-size: 1.1em;
	line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
	border-bottom: 1px solid #FFFFFF;
	font-weight: bold;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

/* Table styles
----------------------------------------*/
table.table1 {
	/* See tweaks.css */
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	border: 1px solid #003f4e;
/*	box-shadow: 0px 0px 2px #00ccff, 0px 0px 2px #00ccff, 0px 0px 1px #00ccff, 0px 0px 1px #00ccff;*/
	margin-bottom: 5px;
}

#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	text-transform: uppercase;
	line-height: 1.2em;
	font-size: 1em;
	padding: 5px;
	background-color: rgba(0,0,0,0.6);
	font-family: Copperplate;
	color: #ffcc00;
	font-weight: normal;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr {
	border: 1px solid #cfcfcf;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: rgba(0,0,0,0.4);
	color: #000;
}

table.table1 td {
	color: #FFFFFF;
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 5px;
	background-color: rgba(0,0,0,0.2);
}

table.table1 tbody th {
	padding: 5px;
	text-align: left;
	font-family: Copperplate;
	color: #ffcc00;
	background-color: rgba(0,0,0,0.6);
	font-size: 1.2em;
	font-weight: normal;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	color: #000000;
	font-weight: normal;
}

.forumbg table.table1 {
	margin: 0;
}

.forumbg-table > .inner {
	margin: 0 -1px;
}

.forumbg-table > .inner > span.corners-top {
	margin: 0 -4px -1px -4px;
}

.forumbg-table > .inner > span.corners-bottom {
	margin: -1px -4px 0 -4px;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts
   Also see tweaks.css */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #ffcc00;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #ffffff;
	float: left;
	width: 65%;
}

/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 7px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 1px 5px;
	margin: 0 2px;
	font-weight: normal;
	color: #343434;
	border: 1px solid #ffcc00;
	background-color: #ffcc00;
	font-size: 11px;
	border-radius: 2px;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #ffcc00;
	margin: 0 2px;
	padding: 1px 5px;
	border: 1px solid #343434;
	background-color: #343434;
	font-size: 11px;
	line-height: 1.5em;
	border-radius: 2px;
}

.pagination span a:hover {
	border-color: #ffcc00;
	color: #ffcc00;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
/*	font-size: 0.9em;
	background: none 0 50% no-repeat;*/
}
/*
.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #d2d2d2;
}
*/
/* Miscellaneous styles
---------------------------------------- */
.panel .inner ul {
	margin-left: 15px;
}

.panel .inner ul li {
	font-size: 12px;
}

.navbar.panel {
  box-shadow:none;
  border:1px solid #003F4E;
  margin-bottom:-1px;
	background-image:url('{T_THEME_PATH}/images/dmt1.png');
	text-align: left;
}

.navbar.panel .inner {
	font-size: 11px;
}

.navbar.panel .inner ul li {
	font-size: 11px;
}

.navbar.panel .inner ul {
	overflow: visible;
}

#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.copyright {
	padding: 5px;
	text-align: center;
	color: #555555;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.headerspace {
	margin-top: 20px;
}

.error {
	border: 1px solid #BC2A4D;
	padding: 10px;
	background-color: #ffbbbb;
	color: #BC2A4D;
	font-weight: bold;
	font-size: 12px;
}

.reported {
	background-color: rgba(255,0,0,0.2);
}

li.reported:hover {
	background-color: rgba(255,0,0,0.3);
}

div.rules {
	border: 1px solid #BC2A4D;
	padding: 10px;
	background-color: #ffbbbb;
	color: #BC2A4D;
	margin: 10px 0;
	font-size: 12px;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

div.rules a {
	color: #bc0933;
	text-decoration: underline;
}

div.rules a:hover {
	color: #bc0933;
	text-decoration: none;
}

p.rules {
	background-color: rgba(255,0,0,0.2);
	background-image: none;
	padding: 5px;
	margin-left: 20%;
}

p.rules img {
	vertical-align: middle;
	padding-top: 5px;
}

p.rules a {
	vertical-align: middle;
	clear: both;
}

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}

/* custom */

.width30p { width: 30%; }
.width65p { width: 65%; }
.flright { float: right; }
.flleft { float: left; }

@font-face {
	font-family: Copperplate;
	src: url('{T_THEME_PATH}/fonts/coprgtb.eot');
	src: url('{T_THEME_PATH}/fonts/coprgtb.eot?#iefix') format('embedded-opentype'),
	url('{T_THEME_PATH}/fonts/coprgtb.ttf') format('truetype');
	font-weight: bold;
}

.headerbar {
	background: url("{T_THEME_PATH}/images/asdasdsswww4.png") no-repeat ;
	background-position: center;
	width: 1054px;
	margin:0 -15px;
	margin-top:3px;
	height: 120px;
	position: relative;
	padding-top: 70px;
}

.headerbar .inner {
	background: none;
	box-shadow: none;
	width: 1024px;
	width: 97.1%;
	margin: 0 auto;
	height: 50px;
	position: relative;
}

.headerbar .inner .bg {
	position: relative;
	background-color: transparent;
}

.headerbar .inner .social {
	height: 50px;
	width: 90px;
	border-right: 1px solid #003f4e;
	float: left;
}
.headerbar .inner .messages {
	margin-top:0.7px!important;
	transition: all 0.2s ease 0s;
	height: 50px;
	width: 50px;
	float: right;
	position: relative;
	background: url("{T_THEME_PATH}/images/menu-member.png") 50% 50% no-repeat;
	text-align: center;
	display: table;
	border-left: none;
	padding-bottom: 5px;
}
.headerbar .inner .messages li.logged-as {
	border-bottom: 1px solid #003f4e;
	padding: 5px;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	margin:0 10px 5px 10px;
}
.headerbar .inner .messages span {
	position: absolute;
	bottom: 28px;
	right: 10px;
	color: #00ccff;
	font-weight: bold;
	font-size: 12px;
}
.headerbar .inner .messages span.new {
	color: #ff0000;
}
.headerbar .inner .messages .avatar {
	display: table-cell;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	vertical-align: middle;
}
.headerbar .inner .messages > a {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 50px;
	text-shadow: 0px 0px 12px #000000, 0px 0px 9px #000000, 0px 0px 6px #000000, 0px 0px 3px #000000;
	font-weight: bold;
	font-size: 24px;
	color: #00ccff;
	text-decoration: none;
	transition: all 0.2s ease 0s;
}
.headerbar .inner .messages > a.newpm {
	background-color: rgba(0,0,0,0.92);
	color: #ff0000;
	transition: all 1s ease-in-out 0s;
}
.headerbar .inner .messages > a.unreadpm {
	background-color: rgba(0,0,0,0.92);
}
.headerbar .inner .messages > a:hover {
	box-shadow: inset 0px 0px 10px #00ccff;
}
.headerbar .inner .messages > a.newpm.hovered {
	box-shadow: inset 0px 0px 20px #ff0000;
	transition: all 1s ease-in-out 0s;
}
.headerbar .inner .messages .submenu {
	margin-top: 5px;
	right: 0px!important;
	margin-right:inherit!important;
  	left:inherit!important;
}
.headerbar .inner .searchmenu {
	height: 50px;
	width: 50px;
	border-right: none;
	position: relative;
	float: left;
	background: url("{T_THEME_PATH}/images/menu-search.png") 50% 50% no-repeat;
	display: block;
}
.headerbar .inner .menu {
	height: 50px;
	position: relative;
	padding: 0px;
	list-style: none;
	margin: 0px auto;
	width:924px;
}
.headerbar .inner .menu.wider {
	width: 758px;
	padding-left: 90px;
}
.headerbar .inner .menu > li {
	margin: 0 12px;
	padding: 0px 0px 5px 0px;
	height: 50px;
	line-height: 50px;
	width: 90px;
	position: relative;
	float: left;
	text-align: center;
	color: #00ccff;
	font-size: 12px;
	cursor: pointer;
	font-family: Copperplate;
	text-transform:uppercase;
}
/* Right menu */
.headerbar .inner .menu > .r {
	margin:0 5px 0 30px;
	text-transform:uppercase;
}

.headerbar .inner .messages:hover, .headerbar .inner .submenu li:hover {
}
.headerbar .inner .menu li a, .headerbar .inner .menu li span {
	display: block;
	width: 100%;
	height: 100%;
}
.headerbar .inner a, .headerbar .inner .menu li span {
	transition: all 0.3s ease 0s;
}

.headerbar .inner .menu li:hover > a, .headerbar .inner .menu li:hover > span {
	text-shadow: 0 0 60px #00ccff, 0 0 40px #00ccff, 0 0 10px #00ccff, 0 0 5px #00ccff;
	color: #ffffff;
	transition: all 0s ease 0s;
}

.headerbar .inner .menu li.logo {
	width: 143px;
	margin:0 15px 0 48px!important;
}
.headerbar .inner .menu li.logo:hover {
	background-color: transparent;
}
.headerbar .inner .menu li.logo a {
	position: absolute;
	display: block;
	margin-top:-8px;
	width: 143px;
	height: 148px;
	background: url("{T_THEME_PATH}/images/logo.png") center no-repeat;
	left: 0px;
	top: -40px;
}
.headerbar .inner .submenu {
	position: absolute;
	top: 50px;
	box-shadow:none!important;
	background-color: rgba(0, 0, 0, 0.92);
	list-style: none;
	margin: 5px 0px 0px 0px;
	margin-right:-75px!important;
	right: 50%!important;
	margin-left:-75px!important;
  	left: 50%!important;
	padding: 5px 0px;
	display: none;
	border-radius: 5px;
	border:1px solid rgba(0, 124, 153, 1)!important;

}
.headerbar .inner .menu .submenu {
	right: -1px;
	z-index: 1000;
	text-transform:none;
}

.headerbar .inner .messages .submenu {
	z-index: 1000;
}

.headerbar .inner .menu .r .submenu {
	left: -1px;
	right: auto;
}

.headerbar .inner .menu li:hover .submenu, .headerbar .inner .messages:hover .submenu {
	display: block;
}
.headerbar .inner .submenu li {
	padding: 0px;
	margin: 0px;
}
.headerbar .inner .submenu li a {
	height: 20px;
	line-height: 20px;
	width: 140px;
	display: block;
	padding: 5px;
	font-family: Arial;
	font-size: 12px;
}
.headerbar .inner .submenu li:hover a {
	background-color: rgba(0, 204, 255, 0.92);
	color: #000000;
	text-shadow: 0px 0px 1px #000000;
	text-decoration: none;
	box-shadow: 0 0 40px #00ccff;
}
.headerbar .inner .searchmenu form {
	position: absolute;
	top: 50px;
	right: -1px;
	border: 1px solid #003f4e;
	border-bottom: 0px;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 60px;
	display: none;
}

#banner-big {
	width: 700px;
	height: 280px;
	float: left;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	position: relative;
	overflow: hidden;
	border: 1px solid #003f4e;
}

#banner-big .bg {
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#banner-big .jcarousel {
	margin: 10px;
	width: 680px;
	height: 260px;
	overflow: hidden;
	position: relative;
}

#banner-big .jcarousel ul {
	list-style: none;
	width: 20000em;
	position: absolute;
}

#banner-big .jcarousel li {
	width: 680px;
	height: 260px;
	overflow: hidden;
	position: relative;
	float: left;
}

#banner-big .jcarousel li .jcitem {
	display: block;
	background-position: 0px 0px;
	width: 680px;
	height: 260px;
	position: relative;
}

#banner-big .jcarousel li .jcitem a {
	display: block;
	position: absolute;
	width: 660px;
	padding: 10px 10px 10px;
	color: #ffffff;
	font-family: Copperplate;
	font-size: 12px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.8);
}

#banner-big .jcarousel li .jcitem a b {
	font-size: 18px;
	color: #ffcc00;
	font-weight: normal;
	padding-bottom: 5px;
}

#banner-big .jcarousel li .jcitem a:hover {
	text-decoration: none;
}

#banner-big .jcarousel-nav { display: block; position: absolute; right: 9px; top: 10px; margin: 0px 1px 5px 1px; background-color: rgba(0,0,0,0.8); padding-right: 3px; }
#banner-big .jcarousel-nav span { display: block; width: 10px; height: 10px; background-color: #676767; float: right; border: 1px solid #003f4e; margin: 4px 0px 5px 5px; cursor: pointer; }
#banner-big .jcarousel-nav span.active { background-color: #00ccff; }

#index-right {
	float: right;
	width: 280px;
	color: #ffffff;
}

#index-right p {
	font-size: 12px;
	line-height: 20px;
	text-shadow: 1px 1px 1px #000;
}

#index-right h2 {
	font-family: Copperplate;
	color: #ffffff;
	border-bottom: 2px solid #00ccff;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	font-size: 16px;
	font-weight: normal;
}

#index-right p {
	margin: 0px;
	padding: 20px 0px 20px 0px;
}

#index-right p.social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url('{T_THEME_PATH}/images/social.png') top left no-repeat;
	margin-right: 5px;
}

#index-right p.social a:hover {
	background-position: 0px -40px;
}

#index-right p.social a.twitter {	background-position: -40px 0px; }
#index-right p.social a.twitter:hover {	background-position: -40px -40px; }
#index-right p.social a.facebook {	background-position: -80px 0px; }
#index-right p.social a.facebook:hover {	background-position: -80px -40px; }
#index-right p.social a.irc {	background-position: -120px 0px; }
#index-right p.social a.irc:hover {	background-position: -120px -40px; }

#index-right p.latest-posts {
	padding: 10px 0px;
	border-bottom: 1px solid #343434;
}

#index-right p.latest-posts span {
	font-size: 11px;
}

#server-info b {
	color: #ffcc00;
}

#news {
	width: 700px;
	float: left;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	margin: 20px 0px;
	border-top: 1px solid #003f4e;
}

#news .news-item  {
	border: 1px solid #003f4e;
	border-bottom: 0px;
	border-top: 0px;
}

#news .news-item  .head  {
	border-bottom: 1px solid #003f4e;
	background-color: rgba(0,0,0,0.6);
	height: 35px;
	width: 100%;
	cursor: pointer;
	font-family: Copperplate;
	font-size: 12px;
}

#news .news-item  .head:hover {
	background-color: rgba(0,0,0,0.4);
}

#news .news-item  .head  .time {
	height: 100%;
	width: 170px;
	color: #ffcc00;
	line-height: 35px;
	padding: 0px 10px;
	border-left: 1px solid #003f4e;
	float: right;
	text-align: right;
	font-size: 11px;
	font-weight: normal;
}

#news .news-item  .head  .title {
	height: 100%;
	color: #00ccff;
	line-height: 35px;
	padding-left: 10px;
	font-size: 16px;
	float: left;
}

#news .news-item  .body {
	padding: 15px 15px 35px 15px;
	background-color: rgba(0,0,0,0.3);
	color: #ffffff;
	font-size: 12px;
	position: relative;
	border-bottom: 1px solid #003f4e;
}

#news .news-item  .body .readmore {
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 11px;
}

#news .news-item  .body .author {
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 11px;
}

#boxes {
	width: 300px;
	float: right;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	margin-top: 20px;
}

#boxes .inner {
	min-height: 400px;
}

img[alt=":tick:"], img[alt=":cross:"] {
	margin-bottom: -3px;
}

p.new-pm {
	text-align: right;
	position: absolute;
	bottom: 123px;
	right: 0px;
	margin: 0px;
	color: #ff0000;
	font-weight: bold;
}

p.header-warning {
	text-align: left;
	position: absolute;
	bottom: 123px;
	left: 0px;
	margin: 0px;
	color: #dd0000;
	text-shadow: 1px 1px 1px #000000;
}

#clock {
	text-align: left;
	position: absolute;
	bottom: 123px;
	left: 75px;
	margin: 0px;
	color: #828282;
	text-shadow: 0px 0px 1px black,0px 0px 2px black,0px 0px 3px black;
}

.linked_accounts.w50p {
	width: 505px;
	float: left;
}

.linked_accounts.w50p.left {
	margin-right: 10px;
}

.linked_accounts.w50p .inner {
	min-height: 230px;
}

.linked_accounts .account {
	border: 1px solid #003f4e;
	margin: 5px 0px;
	font-size: 12px;
}

.linked_accounts .account input.confirm {
	float: right;
	margin: 6px 5px 0;
}

.linked_accounts .account .account-content {
	display: none;
}

.linked_accounts .account .account-content .table1 {
	margin: 0px;
}

.linked_accounts .account .account-content p {
	padding: 10px;
	margin: 0px;
	font-size: 12px;
}

.linked_accounts .account .header {
	cursor: pointer;
	padding: 10px;
	font-size: 14px;
}

.linked_accounts .account .header:hover {
	background-color: rgba(255,255,255,0.1);
}

.linked_accounts .link_account {
	text-align: center;
}

.linked_accounts .link_account table {
	margin: 20px auto 10px auto;
}

.linked_accounts .link_account table th {
	padding: 0px 5px 0px 0px;
}

.linked_accounts table {
	font-size: 12px;
}

.linked_accounts table .inputbox {
	width: 150px;
}

.linked_accounts table select {
	width: 158px;
}

.linked_accounts table th {
	text-align: left;
	font-weight: normal;
}

.linked_accounts table .button1 {
	margin-top: 5px;
}

#qc td.quests {
	min-width: 200px;
	text-align: center;
}

.loading {
	background: url('/images/loader.gif') 50% 50% no-repeat;
}

#qc td.sbmt {
	width: 50px;
}

#qc td.sbmt input {
	display: none;
}

.admin-shop .sub {
	padding-left: 20px;
}

.admin-shop .inputbox.smaller {
	width: 35px;
}

.shop .categories {
	width: 150px;
}

.shop .categories dt {
	text-decoration: none;
	font-size: 13px;
	padding: 5px 6px;
	font-family: Arial, sans-serif;
	color: #ffcc00;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	border: 1px solid #003f4e;
	box-shadow: 0px 0px 3px 1px inset #000000;
	cursor: pointer;
}

.shop .categories dd {
	text-decoration: none;
	font-size: 12px;
	padding: 5px 11px;
	font-family: Arial, sans-serif;
	color: #ffffff;
	background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;
	border: 1px solid #003f4e;
	box-shadow: 0px 0px 3px 1px inset #000000;
	cursor: pointer;
}

.shop .categories dt.active, .shop .categories dd.active, .shop .categories dt:hover, .shop .categories dd:hover {
	border: 1px solid #ffcc00;
}

.shop .items {
	width: 830px;
	float: right;
	min-height: 500px;
	margin-top: 5px;
}

.shop .left {
	float: left;
	width: 152px;
}


.shop .char-select {
	width: 150px;
	margin: 5px 0 10px 0;
	border: 1px solid #003f4e;
	text-align: center;
	padding: 10px 0px;
	font-size: 12px;
}

.shop .char-select .points {
	color: #ffcc00;
	font-size: 16px;
	font-family: Copperplate;
	margin-bottom: 10px;
}

.shop .char-select .points .value {
	font-size: 22px;
}

.arenalog .emblem {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	box-shadow: inset 0 0 8px black, 0 0 5px #00ccff;
	float: left;
	margin-right: 5px;
}

.arenalog .emblem img {
	width: 35px;
	height: 35px;
}

table.table1.arenalog td.teamname {
	vertical-align: middle;
	font-size: 18px;
	line-height: 35px;
}

table.table1.arenalog td {
	font-size: 11px;
}

table.table1.arenalog table td {
	width: 33%;
	background: none;
}

table.table1.arenalog tr.team td {
	border-top: 1px solid #003f4e;
}

table.table1.arenalog table {
	width: 100%;
}

table.table1.arenalog span {
	color: #606060;
}

div.arenalog .inputbox {
	width: 110px;
}

div.arenalog .inputbox.short {
	width: 30px;
}

div.arenalog form {
	padding: 5px;
}

div.arenalog form a {
	padding-top: 5px;
}

#donation form input[type="image"] {
	border: 0px;
	box-shadow: none;
}

.admin-homepage .banner {
	width: 680px;
}

table.table1.vote-sites {
	width: 300px;
	float: right;
}

.vote.panel, .table1.vote {
	width: 716px;
	float: left;
	margin-bottom: 10px;
}

.table1.vote_top {
	width: 232px;
	margin-right: 10px;
	float: left;
}

.table1.vote_top.last {
	margin-right: 0px;
}

.table1.donators_top {
	width: 230px;
	margin-left: 10px;
	float: right;
}

.panel.donation {
	width: 784px;
}

#donation .inner center {
	padding: 20px 0px;
}

table tr.toggle-row {
	display: none;
}

.bottom-info {
	margin-bottom:10px;
	font-size: 11px;
	text-align: center;
}

#recaptcha_table {
	background-color: #ffffff;
}
