/* Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/
fieldset {
	border-width: 0;
	font-family: Arial, sans-serif;
	font-size: 1.1em;
}

input {
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;
	padding: 4px;
	font-size: 1em;
	font-family: Arial, sans-serif;
	border: 1px solid #003f4e;
	color: #ffffff;
	box-shadow: 0px 0px 3px 1px inset #000000;
	background: rgba(0, 0, 0, 0.5);
}

select {
	font-family: Arial, sans-serif;
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #003f4e;
	padding: 4px;
	font-size: 1em;
	color: #ffffff;
	/*background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;*/
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	box-shadow: 0px 0px 3px 1px inset #000000;
}

option {
	padding-right: 1em;
	background-color: #1f1f1f;
}

optgroup {
	background-color: #101010;
}

option.disabled-option {
	color: graytext;
}

textarea {
	font-family: Arial, sans-serif;
	width: 60%;
	padding: 4px;
	font-size: 1em;
	line-height: 1.4em;
	color: #ffffff;
	border: 1px solid #003f4e;
	box-shadow: 0px 0px 3px 1px inset #000000;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

label {
	cursor: default;
	padding-right: 5px;
	color: #ffffff;
}

label input {
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset dl {
	padding: 4px 0;
}

fieldset dt {
	float: left;
	width: 40%;
	text-align: left;
	display: block;
}

fieldset dd {
	margin-left: 41%;
	vertical-align: top;
	margin-bottom: 3px;
}

/* Specific layout 1 */
fieldset.fields1 dt {
	width: 15em;
	border-right-width: 0;
}

fieldset.fields1 dd {
	margin-left: 15em;
	border-left-width: 0;
}

fieldset.fields1 {
	background-color: transparent;
}

fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
fieldset.fields1 #recaptcha_widget_div div {
	margin-bottom: 0;
}

/* Specific layout 2 */
fieldset.fields2 dt {
	width: 15em;
	border-right-width: 0;
}

fieldset.fields2 dd {
	margin-left: 16em;
	border-left-width: 0;
}

/* Form elements */
dt label {
	font-weight: bold;
	text-align: left;
}

dd label {
	white-space: nowrap;
	color: #ffffff;
}

dd input, dd textarea {
	margin-right: 3px;
}

dd select {
	width: auto;
}

dd textarea {
	width: 85%;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

#timezone {
	width: 95%;
}

* html #timezone {
	width: 50%;
}

/* Quick-login on index page */
fieldset.quick-login {
	margin-top: 5px;
	text-align: right;
	position: absolute;
	top: 0px;
	right: 0px;
}

fieldset.quick-login input {
	width: auto;
}

fieldset.quick-login input.inputbox {
	width: 100px;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 5px;
}

fieldset.quick-login input.button2 {
	margin-bottom: 5px;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	margin: 3px 0 5px 0;
}

fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
	color: #ffffff;
}

fieldset.display-options a {
	margin-top: 3px;
}

/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	text-align: right;
	line-height: 2em;
	white-space: nowrap;
	padding-right: 1em;
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.sort-options {
	line-height: 2em;
}

/* MCP forum selection*/
fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

/* Jumpbox */
fieldset.jumpbox {
	text-align: right;
	height: 25px;
	float: right;
	margin-top: -1px;
}

.navbar.panel .inner {
	height: 25px;
	line-height: 25px;
	padding: 2px 1px 2px 14px;
	background-color: transparent;
}

.navbar.panel .inner strong {
	color:#0CF;
	padding: 0px 8px;
}

fieldset.quickmod {
	width: 50%;
	float: right;
	text-align: right;
	height: 2.5em;
}

/* Submit button fieldset */
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
}

fieldset.submit-buttons input {
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */
#format-buttons {
	margin: 15px 0 2px 0;
}

#format-buttons input, #format-buttons select {
	vertical-align: middle;
}

/* Main message box */
#message-box {
	width: 80%;
}

#qr_editor_div #message-box {
	width: 99%;
}

#message-box textarea {
	font-family: Arial, sans-serif;
	width: 450px;
	height: 270px;
	min-width: 100%;
	max-width: 100%;
	font-size: 1.2em;
	color: #ffffff;
}

/* Emoticons panel */
#smiley-box {
	width: 18%;
	float: right;
}

#smiley-box img {
	margin: 3px;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	/*background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;*/
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #06353e;
	color: #ffffff;
	padding: 3px;
	border-radius: 4px;
	cursor: text;
}

.inputbox:hover, input[type="radio"]:hover, input[type="checkbox"]:hover, label:hover input[type="radio"], label:hover input[type="checkbox"] {
	border: 1px solid #ffcc00;
}

.inputbox:focus {
	border: 1px solid #ffcc00;
	color: #ffffff;
}

input.inputbox	{ width: 85%; }
input.medium	{ width: 50%; }
input.narrow	{ width: 25%; }
input.tiny		{ width: 125px; }

textarea.inputbox {
	width: 85%;
}

.autowidth {
	width: auto !important;
}

/* Form button styles
---------------------------------------- */
input.button1, input.button2 {
	font-size: 1em;
}

a.button1, input.button1, input.button3, a.button2, input.button2, a.buttonX, input.buttonX, input.show_hide {
	width: auto !important;
	padding: 4px 10px;
	font-family: Arial, sans-serif;
	color: #ffcc00;
	/*background: url("{T_THEME_PATH}/images/texture.jpg") top left repeat;*/
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	transition: all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
}

a.button1, input.button1 {
	font-weight: bold;
	border: 1px solid #06353e;
}

input.button3 {
	padding: 0;
	margin: 0;
	line-height: 5px;
	height: 12px;
	background-image: none;
	font-variant: small-caps;
}

a.buttonX, a.buttonX:link, a.buttonX:visited, a.buttonX:active {
	box-shadow: 0px 0px 3px 1px inset #000000;
	font-family: Copperplate;
	color: #ffcc00;
	padding: 0px 6px;
	text-align: center;
	border: 1px solid #ffcc00;
}

a.buttonX:hover {
	border: 1px solid #ffdd66;
	color: #ffdd66;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border: 1px solid #003f4e;
	box-shadow: 0px 0px 3px 1px inset #000000;
	border-radius: 4px;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	text-decoration: none;
	color: #ffcc00;
	padding: 2px 8px;
	line-height: 250%;
	vertical-align: text-bottom;
	background-position: 0 1px;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border: 1px solid #ffcc00;
	color: #ffcc00;
	box-shadow: inset 0px 0px 5px -1px #ffcc00;
}

input.disabled {
	font-weight: normal;
	color: #666666;
}

/* Topic and forum Search */
.search-box {
	margin-left: 5px;
	float: right;
}

.search-box form fieldset {
	margin-top: -1px;
}

input.search {
}

.full { width: 95%; }
.medium { width: 50%;}
.narrow { width: 25%;}
.tiny { width: 10%;}

form#viewtopic {
	float: left;
}
