#tw-status .raceclass td {
	width: 25%;
	text-align: center;
	padding: 4px 5px;
}

#tw-status .raceclass th {
	text-align: center;
}

#tw-status .raceclass th img {
	margin: -5px 0px;
}

table.sortable th {
	cursor: s-resize;
}

table.sortable th.sorttable_sorted {
	cursor: n-resize;
}

.online-charts .chart {
	width: 700px;
	height: 230px;
	display: table;
	margin: 0 auto;
}

.online-charts .chart .loader {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.online-charts .chart img.loading {
	width: 1px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
}


.population_graph {
	width: 470px;
	margin: 0px 5px 30px 15px;
	padding: 4px 1px 2px 1px;
	border: 1px solid #fff;
	float: left;
}

.population_graph .column {
	width: 47px;
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;
	height: 100%;
}

.population_graph .column span {
	display: block;
	float: left;
	background-color: #fff;
	margin: 0px 1px 0px 1px;
	width: 45px;
	padding: 0px;
	color: #000;
	text-align: center;
	font-size: 10px;
	border: 0px;
	text-shadow: 0px 1px 2px #ffffff;
}

.population_graph .column:hover span {
	color: #ffffff;
	text-shadow: 0px 1px 2px #000000;
}

.population_graph .column img {
	width: 18px;
	height: 18px;
	margin: 0px 14px 4px 14px;
	float: left;
}

.population_graph_level {
	width: 960px;
	padding: 2px 1px 2px 1px;
}

.population_graph_level .column {
	width: 12px;
	font-size: 8px;
	font-family: Arial;
	text-align: center;
}

.population_graph_level .column span {
	width: 10px;
}

#qc {
	margin: 10px auto;
}

.tickets .premade {
	width: 200px;
}

.vote-sites .rank {
	text-align: right;
}

.vote-sites .siteimg {
	text-align: center;
}

.vote-sites .siteimg img {
	max-width: 150px;
}