<script type="text/javascript" src="{ROOT_PATH}js/syntaxhighlighter3/js/shAutoloader.js"></script>
<script type='text/javascript'>
// <![CDATA[
SyntaxHighlighter.autoloader(
'actionscript3 as3 {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushAS3.js',
'ada {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushAda.js',
'applescript {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushAppleScript.js',
'ahk autohotkey {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushAhk.js',
'asm masm nasm8086 8086 nasm {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushNasm8086.js',
'bash shell {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushBash.js',
'bat batch cmd {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushBat.js',
'biferno {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushBiferno.js',
'clojure Clojure clj {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushClojure.js',
'coffee coffeescript {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushcoffee.js',
'coldfusion cf {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushColdFusion.js',
'cpp c {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushCpp.js',
'c# c-sharp csharp {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushCSharp.js',
'css {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushCss.js',
'd {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushD.js',
'delphi pascal {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushDelphi.js',
'diff patch pas {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushDiff.js',
'erl erlang {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushErlang.js',
'f# f-sharp fsharp {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushFSharp.js',
'groovy {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushGroovy.js',
'haxe {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushHaxe.js',
'java {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushJava.js',
'jfx javafx {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushJavaFX.js',
'js jscript javascript {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushJScript.js',
'lasso {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushLasso.js',
'latex tex {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushLatex.js',
'logtalk {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushLogtalk.js',
'lsl {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushLsl.js',
'lua {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushLua.js',
'mathematica mm {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushMathematica.js',
'matlab {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushMatlabSimple.js',
'objc obj-c {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushObjectiveC.js',
'perl pl {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushPerl.js',
'php {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushPhp.js',
'text plain {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushPlain.js',
'powershell ps posh {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushPowerShell.js',
'processing Processing {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushProcessing.js',
'py python {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushPython.js',
'py3 python3 {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushPython3.js',
'ros {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushRouterOS.js',
'rpgle rpg4 {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushRpgle.js',
'ruby rails ror rb {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushRuby.js',
'sahi sahiscript {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushSahi.js',
'sass scss {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushSass.js',
'scala {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushScala.js',
'sql {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushSql.js',
'vb vbnet {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushVb.js',
'xml xhtml xslt html {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushXml.js',
'yaml yml {ROOT_PATH}js/syntaxhighlighter3/brushes/shBrushYaml.js'
);
SyntaxHighlighter.all();
// ]]>
</script>